In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlt

## Load data set using pandas function and print last 5 records.

In [5]:
MDF = pd.read_csv('diamonds.csv')
MDF.tail(5)

     carat      cut color clarity  depth  table  price     x     y     z
194    0.7  Premium     E     SI1   61.2   57.0   2777  5.73  5.68  3.49
195    0.7  Premium     E     SI1   62.7   59.0   2777  5.67  5.63  3.54
196    0.7  Premium     E     SI1   61.0   57.0   2777  5.73  5.68  3.48
197    0.7  Premium     E     SI1   61.0   58.0   2777  5.78  5.72  3.51
198    0.7    Ideal     E     SI1   61.4   57.0   2777  5.76  5.70  3.52

## Print the record where either of dimension (x,y,z) is Zero.

In [19]:
A = MDF['x'] == 0
A.drop_duplicates()

0    False
Name: x, dtype: bool

## Create a new data frame by multiplying x,y,z.

In [20]:
MDF['MULTI'] = MDF['x'] * MDF['y'] * MDF['z']
MDF

,carat,cut,color,clarity,depth,table,price,x,y,z,MULTI
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
194,0.70,Premium,E,SI1,61.2,57.0,2777,5.73,5.68,3.49,113.586936
195,0.70,Premium,E,SI1,62.7,59.0,2777,5.67,5.63,3.54,113.004234
196,0.70,Premium,E,SI1,61.0,57.0,2777,5.73,5.68,3.48,113.261472
197,0.70,Premium,E,SI1,61.0,58.0,2777,5.78,5.72,3.51,116.046216
198,0.70,Ideal,E,SI1,61.4,57.0,2777,5.76,5.70,3.52,115.568640

In [23]:
DMDF = MDF
DMDF

,carat,cut,color,clarity,depth,table,price,x,y,z,MULTI
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
194,0.70,Premium,E,SI1,61.2,57.0,2777,5.73,5.68,3.49,113.586936
195,0.70,Premium,E,SI1,62.7,59.0,2777,5.67,5.63,3.54,113.004234
196,0.70,Premium,E,SI1,61.0,57.0,2777,5.73,5.68,3.48,113.261472
197,0.70,Premium,E,SI1,61.0,58.0,2777,5.78,5.72,3.51,116.046216
198,0.70,Ideal,E,SI1,61.4,57.0,2777,5.76,5.70,3.52,115.568640

## Drop all the dimension.(X,Y,Z).

In [28]:
DMDF.drop(['x' , 'y' , 'z'] , axis=1)

     carat      cut color clarity  depth  table  price       MULTI
0     0.23    Ideal     E     SI2   61.5   55.0    326   38.202030
1     0.21  Premium     E     SI1   59.8   61.0    326   34.505856
2     0.23     Good     E     VS1   56.9   65.0    327   38.076885
3     0.29  Premium     I     VS2   62.4   58.0    334   46.724580
4     0.31     Good     J     SI2   63.3   58.0    335   51.917250
..     ...      ...   ...     ...    ...    ...    ...         ...
194   0.70  Premium     E     SI1   61.2   57.0   2777  113.586936
195   0.70  Premium     E     SI1   62.7   59.0   2777  113.004234
196   0.70  Premium     E     SI1   61.0   57.0   2777  113.261472
197   0.70  Premium     E     SI1   61.0   58.0   2777  116.046216
198   0.70    Ideal     E     SI1   61.4   57.0   2777  115.568640

[199 rows x 8 columns]

## Print all the Statistical information of the data frame.

In [29]:
MDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    199 non-null    float64
 1   cut      199 non-null    object
 2   color    199 non-null    object
 3   clarity  199 non-null    object
 4   depth    199 non-null    float64
 5   table    199 non-null    float64
 6   price    199 non-null    int64
 7   x        199 non-null    float64
 8   y        199 non-null    float64
 9   z        199 non-null    float64
 10  MULTI    199 non-null    float64
dtypes: float64(7), int64(1), object(3)
memory usage: 17.2+ KB

## Remove all the duplicate values from the data frame

In [31]:
MDF = MDF.drop_duplicates()
MDF

,carat,cut,color,clarity,depth,table,price,x,y,z,MULTI
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
194,0.70,Premium,E,SI1,61.2,57.0,2777,5.73,5.68,3.49,113.586936
195,0.70,Premium,E,SI1,62.7,59.0,2777,5.67,5.63,3.54,113.004234
196,0.70,Premium,E,SI1,61.0,57.0,2777,5.73,5.68,3.48,113.261472
197,0.70,Premium,E,SI1,61.0,58.0,2777,5.78,5.72,3.51,116.046216
198,0.70,Ideal,E,SI1,61.4,57.0,2777,5.76,5.70,3.52,115.568640

## Count the null values in the database and replace with mean value.

In [32]:
MDF.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
MULTI      0
dtype: int64